target/

### Scala template
*.class
*.log

# sbt specific
.cache
.bsp/sbt.json
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#apple shit
.DS_Store

# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml
.idea/
*.env
*.ipynb
.vscode/
.metals/
.bloop/
metals.sbt

\?/
